<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blockchain Client</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/custom.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Blockchain Client</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Wallet Generator
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/make/transaction/message">Send Message</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/make/transaction">Send Currency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/transactions">View Transactions</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">


        <div class="card-body">
          <h4 class="card-title">Wallet Generator</h4>
          <p class="card-text">Click on the button below to generate your blockchain wallet</p>
          <input type="button" class="btn btn-primary btn-lg" value="Generate Wallet" id='generate_btn'>
        </div>

      </div>
    </div>
  </div>

  <br>

  <div class="container">

    <div class="row" id='name_holder'>
      <label class="col-sm-2">Owner's Name:</label>
      <div class="col-sm-2">
        <input type="text" id="name" name="name" placeholder="anonymous"><br><br>
      </div>
    </div>

    <div class="row" id='publickey_holder'>
      <label class="col-sm-2">Public Key:</label>
      <div class="col-sm-10">
        <textarea id="public_key" rows="5" class="form-control" readonly></textarea>
      </div>
    </div>

    <br>

    <div class="row" id='privatekey_holder'>
      <label class="col-sm-2">Private Key:</label>
      <div class="col-sm-10">
        <textarea id="private_key" rows="5" class="form-control" readonly></textarea>
      </div>
    </div>

    <br>

    <div class="row" id="warning" style="display:none">
      <div class="col-sm-12">
        <div class="alert alert-danger" role="alert">
          IMPORTANT
          <ul>
            <li>Save you private and public keys. These keys cannot be recovered!</li>
            <li>Don't share your private key with anyone!</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="container alert alert-info" style="display:none" id='credential_container'>

    <div class="row">
      <label class="col-sm-2">Owner's Name:</label>
      <div class="col-sm-10">
        <input type="form-control text" name="name" placeholder="anonymous" class='name' readonly>
        <!-- The button used to copy the text -->
        <input type="button" class="btn copy-btn" value="Copy Text"><br><br>

      </div>
    </div>

    <div class="row">
      <label class="col-sm-2">Public Key:</label>
      <div class="col-sm-8">
        <textarea rows="3" class="form-control public-key" readonly></textarea>
      </div>
      <div class='col-md-2'>
        <input type="button" class="btn copy-btn" value="Copy Text"><br><br>
      </div>
    </div>

    <br>

    <div class="row">
      <label class="col-sm-2">Private Key:</label>
      <div class="col-sm-8">
        <textarea rows="3" class="form-control private-key" readonly></textarea>
      </div>
      <div class='col-md-2'>
        <input type="button" class="btn copy-btn" value="Copy Text"><br><br>
      </div>
    </div>
    <hr>
  </div>
  <div class='container'>
    <div class="col-sm-12">
      <h2>Generated Keys</h2>
    </div>
    <div class="row" id="keylist">
    </div>


  </div>





  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <script>

    $(function () {
      $('#generate_btn').click(function () {
        var userName = $('#name').val();
        console.log(userName)
        $.ajax({
          url: `/wallet/new?name=${userName}`,
          type: 'GET',
          success: function (response) {
            // document.getElementById("name").innerHTML = response['name'];
            document.getElementById("private_key").innerHTML = response['private_key'];
            document.getElementById("public_key").innerHTML = response['public_key'];
            document.getElementById("warning").style.display = "block";
            init();
          },
          error: function (error) {
            console.log(error);
          }
        });
      });
    })

    function init() {
      // initialisation stuff here
      console.log('init here!')
      $(function () {
        $.ajax({
          url: `/wallet/get`,
          type: 'GET',
          success: function (response) {
            console.log(response);
            $("#keylist").empty();
            response.data.forEach(item => {
              var newItem = $("#credential_container").clone()
              newItem.find('.name').val(item['name']);
              newItem.find('.public-key').val(item['public_key']);
              newItem.find('.private-key').val(item['private_key']);

              newItem.show();
              newItem.appendTo("#keylist");
            })

          },
          error: function (error) {
            console.log(error);
          }
        });
      })
    }
    init();
    $(function () {
      $("#keylist").on('click', '.copy-btn', function () {
        /* Get the text field */
        var copyText = $(this).parent().parent().find('textarea');
        // console.log(copyText)
        if (copyText.val() == undefined) {
          copyText = $(this).parent().find('.name');
        }

        /* Select the text field */
        copyText.select();
        // copyText[0].setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.val());
      })
    })
  </script>



</body>

</html>